# Required libraries
python == 3.10.*
geopandas == 0.12.*
matplotlib == 3.6.*
pandas == 1.5.*
numpy == 1.23.*
pydantic == 1.10.*
openpyxl == 3.0.*
tqdm == 4.64.*
jinja2 == 3.1.*
folium == 0.14.*
fiona == 1.9.*
pyogrio == 0.5.*
seaborn == 0.11.*
caf.toolkit == 0.0.7
scikit-learn == 1.2.*
